@charset "UTF-8";

body {
    /* font-family: 'Outfit', sans-serif; */
    /* font-family: 'Noto Sans KR', sans-serif; */
}

/* utility */
.sr-only {
    position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
}

.clearfix {
    content: '';
    display: table;
    overflow: hidden;
}

/* 헤더 */

.header-container {
    width: calc(100% - 240px);
    margin: 0 auto;    
}

header {

}

header .header-link, 
header .header-inf {
    border-bottom: 1px solid #BCBCBC;
}

.header-link .header-container {
    display: flex;
    justify-content: end;    
}

.header-link .search-form {
    padding: 0 20px;
}

.header-link .search-form:hover {
    background-color: lightgray;
}

.header-link .search-form:hover button {
    color: #002BD2;
    cursor: pointer;
}

.header-link .search-form, 
.header-link .link-menu {
    border-left: 1px solid #BCBCBC;
    height: 40px;
    /* align-item */
    line-height: 38px;
}

.search-form input {
    border: none;
    background: transparent;
}

.search-form button {
    border: none;
    background: none;
    font-size: 13px;
    /* 음수값으로 주면 돼요 */
    letter-spacing: -1px;
}

.header-link .link-menuu {
    overflow: hidden;
}

.header-link .link-menu {
    padding-left: 40px;
    font-size: 13px;
    font-family: 'Noto Sans KR', sans-serif;
}

.link-menu li {
    float: left;
    cursor: pointer;
}

.link-menu li:hover {
    color: #002BD2;
}

.link-menu li:not(:first-child) {
    margin-left: 30px;
}

.link-menu li:nth-child(4),
.link-menu li:last-child {
    position: relative;
    margin-left: 50px;
}

.link-menu li:nth-child(4)::after {
    content: '';
    position: absolute;
    left: -18px;
    top: 11px;
    background: url(img/free-icon-black-check-box-with-white-check-61141.png) no-repeat center;
    background-size: contain;
    width: 13px;
    height: 15px;
}

.link-menu li:last-child::after {
    content: '';
    position: absolute;
    left: -20px;
    top: 11px;
    background: url(img/free-icon-shopping-basket-button-60756.png) no-repeat center;
    background-size: contain;
    width: 15px;
    height: 15px;
}

.link-menu li:nth-child(4):hover::after,
.link-menu li:last-child:hover::after {
    filter: invert(8%) sepia(100%) saturate(5695%) hue-rotate(246deg) brightness(112%) contrast(146%);
}

header .header-inf {
    
}

.header-inf .header-container {
    display: flex;
    justify-content: space-between;
    height: 62px;
    line-height: 62px;
}

.header-inf .logo {
    font-size: 26px;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}

.header-inf .inf-menu {
    align-self: center;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    display: flex;
    height: 100%;
}

.inf-menu .tit-inf-menu {
    position: relative;
    height: 100%;
}

.inf-menu .tit-inf-menu:not(:last-child) {
    margin-right: 40px;
}

.inf-menu .tit-inf-menu:hover {
    color: #002BD2;
    cursor: pointer;
}

.tit-inf-menu .inf-submenu {
    display: none;
    position: absolute;
    top: 62px;
    background-color: #282828;
    padding: 30px;
    color: white;
    font-weight: 400;
    font-family: 'Noto Sans KR';
    font-size: 14px;
    line-height: 34px;
    width: 132px;
}

.inf-submenu li a:hover {
    color: #4268ff;
}

.tit-inf-menu:hover .inf-submenu {
    display: block;
}

.tit-inf-menu .inf-submenu-1 {
    left: -47px;
}

.tit-inf-menu .inf-submenu-1 li:nth-child(3) {
    margin-top: 20px;
    font-weight: 700;
}

.tit-inf-menu .inf-submenu-2 {
    width: 640px;
    left: -400px;
}

.inf-submenu-2 .item-submenu {
    display: flex;
}

.inf-submenu-2 .item-submenu li:first-child {
    font-weight: 700;
    width: 130px;
    padding-right: 30px;
    border-right: 1px solid;
}

.inf-submenu-2 .item-submenu li:not(:last-child) {
    margin-right: 20px;
}

.tit-inf-menu .inf-submenu-3 {
    left: -52px;
}

